<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name="com.dolearnn.cg.TestActivity"
            android:exported="true"
            android:label="@string/title_activity_test"
            android:theme="@style/Theme.DoLearnn.Cg">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>